small {
    color: red;
}


/* ================================================= */


/*                 Main Style                       */


/* ================================================= */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


/* ================================================= */


/*             Style the Content                     */


/* ================================================= */

.box {
    background-color: #eff0f4;
    width: 70%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 0.5rem;
    border: black solid 3px;
}

.box h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: 10px auto 20px auto;
}

.box form {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 0.01fr;
    grid-template-areas: "firstname email" "lastname type" "contact payment" "address empty" "submit submit";
    grid-gap: 15px;
}

.box form label {
    font-weight: bold;
    font-size: 14pt;
}

.box form input,
.box form textarea,
.box form select {
    margin: 5px 0;
    font-size: 12pt;
    padding: 5px 5px 5px 10px;
    border-radius: 0.2rem;
    border: 2px solid #819094;
}

.box form .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 65%;
}

.box form .radio .radio-block {
    margin-left: 10px;
    display: inline-block;
}

.box form .radio label {
    font-weight: normal;
    font-size: 12pt;
}


/* ================================================= */


/*             Assign Name to Grid                   */


/* ================================================= */

.firstname {
    grid-area: firstname;
}

.lastname {
    grid-area: lastname;
}

.contact {
    grid-area: contact;
}

.address {
    grid-area: address;
}

.email {
    grid-area: email;
}

.type {
    grid-area: type;
}

.payment {
    grid-area: payment;
}

.submit {
    grid-area: submit;
    margin: auto;
}

.submit .button {
    font-size: 10pt;
    color: white;
    background-color: black;
    border: none;
    padding: 5px 10px;
}


/* ================================================= */


/*               Mobile Responsive                   */


/* ================================================= */

@media only screen and (max-width: 1350px) {
    .box form .radio {
        width: 80%;
    }
}

@media only screen and (max-width: 1080px) {
    .box form .radio {
        width: 90%;
    }
}

@media only screen and (max-width: 965px) {
    .box form .radio {
        width: 100%;
    }
}

@media only screen and (max-width: 878px) {
    .box form {
        grid-template-rows: 1fr 1fr 1fr 1fr 0.01fr;
    }
    .box form .radio {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 808px) {
    .box form {
        grid-template-rows: 1fr 1fr 1fr 1fr 0.01fr;
    }
    .box form .radio {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 80%;
    }
    .box form .radio .radio-block {
        font-size: 19px;
        display: block;
    }
}

@media only screen and (max-width: 620px) {
    .box form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 0.01fr;
        grid-template-areas: "firstname" "lastname" "contact" "address" "email" "type" "payment" "submit";
    }
    .box form .radio {
        width: 100%;
    }
}


/*# sourceMappingURL=style.css.map */